.body {
    background-image: url(assets/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.body-choice {
    background-color: #ffffff;
}

.heading h1 {
    color: #970A7B;
    font-weight: 800;
    font-size: 150px;
    text-align: center;
    margin-top: 8rem;
}    

.heading h3 {
    padding-top: 10%;
    color: #970A7B;
    text-align: center;
    font-size: 35px;
}

#source {
    opacity: 1;
    transition: opacity 1s;
}

#source.fade {
    opacity: 0;
}

#source.unfade {
    opacity: 1;
}

.icons {
    text-align: center;
    padding: 35px 0; 
}

.arrow {
    color: #970A7B; 
    padding-top: 8%;
}

#right-arrow {
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 80%;
}

#left-arrow {
    padding-top: 30%;
    padding-left: 10%;
    padding-bottom: 16%;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
    font-weight: 800;
}

#choice-background {
    background-image: url(assets/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}

#about-me {
    justify-content: center;
}

#projects {
    padding-right: 33%;
}

.block {
    height: 300px;
    width: 43%;
}

.color {
    background-color: #970A7B;
}

.no-gutters {
    padding-top: 5%;
}