.arrow {
    color: #970A7B; 
    padding-bottom: 8%;
}

.icons {
    text-align: start;
    padding: 35px 20px; 
}

#choice-background {
    background-image: url(../assets/markus-spiske-qjnAnF0jIGk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}

.about-title {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    padding-top: 5%;
}

#container-border {
    background-color: #970A7B;
    padding: 25px;
}

#about-paragraph {
    background-color: white;
    padding: 2%;
}

.submit {
    background-color: #970A7B;
    border: none;
    color: white;
    opacity: .6;
}

.tech {
    font-size: 4em;
    display: inline-block;
    padding-right: 10px;
}

.center {
    justify-content: center;
}